<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Wiadomości</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="topnav">
    <a class="active" th:href="@{/admin/home_pl}">Domowa strona</a>
    <a th:href="@{/browse_pl}">Oglądaj pytania</a>
    <a th:href="@{/about_pl}">O nas</a>
    <a th:href="@{/contact_pl}">Kontakt</a>
    <a th:href="@{/admin/info_pl}">Aktualizuj informacje</a>
    <a th:href="@{/admin/messages_pl}">Wiadomości</a>
    <a th:href="@{/pl}">Pol</a>
    <a th:href="@{/}">Eng</a>
    <div class="search-container">
        <form action="#" th:action="@{/search}" method="post">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <a th:href="@{/logout}">Wyloguj</a>
</div>
<div class="container">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="Messages"></span>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Wiadomość</th>
                    <th>Od</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Hello</th>
                    <th>Andrii Savin</th>
                    <th><td width="15"><button type="submit">Odpowiedz</button></th>
                </tr>
                <tr>
                    <th>Another hello</th>
                    <th>Andrzej Savin</th>
                    <th><td width="15"><button type="submit">Odpowiedz</button></th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>