<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Linguo Helper</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="topnav">
    <a class="active" th:href="@{/admin/home_pl}">Domowa strona</a>
    <a th:href="@{/browse_pl}">Oglądaj pytania</a>
    <a th:href="@{/about_pl}">O nas</a>
    <a th:href="@{/contact_pl}">Kontakt</a>
    <a th:href="@{/pl}">Pol</a>
    <a th:href="@{/}">Eng</a>
    <div class="search-container">
        <form action="#" th:action="@{/search_pl}" method="post">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div class="gc">
    <div class="container" id="login_form">
        <form th:action="@{/landing_pl}" method="POST" class="form-signin">
            <br/>
            <input type="text" id="email" name="email" th:placeholder="Email"
                   class="form-control"/> <br/>
            <input type="password" th:placeholder="Hasło"
                   id="password" name="password" class="form-control"/> <br/>

            <div align="center" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19;">Email lub hasło jest niepoprawne, sprobuj jeszcze raz.</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                    th:text="Zaloguj"></button>
            <button class="btn btn-md btn-warning btn-block" type="Submit" th:formaction="@{/registration_pl}"
                    formmethod="GET">Zarejestruj się
            </button>
        </form>
        </form>
    </div>
</div>
</body>
</html>